figures/*.pdf
.venv/
tex/*.log
tex/*.aux
tex/*.fdb_latexmk
tex/*.fls
tex/*.lof
tex/*.out
tex/*.gz
tex/*.toc
*.log
*.aux
*.fdb_latexmk
*.fls
*.lof
*.out
*.gz
*.toc
python
figures/scripts/*/matplotlib
figures/scripts/*/pdf
figures/scripts/*/plt
figures/scripts/*/random
figures/scripts/*/tdp
figures/scripts/*/torch
*/__pycache__/*
tex/indent.log
tex/indent.log
tex/main.aux
tex/main.fdb_latexmk
tex/main.fls
tex/main.lof
tex/main.log
tex/main.synctex.gz
tex/main.toc
tex/chapters/abstract.aux
tex/chapters/calibration.aux
tex/chapters/imaging.aux
tex/chapters/intro.aux
tex/chapters/results.aux
figures/scripts/tools/__pycache__/__init__.cpython-311.pyc
figures/scripts/tools/__pycache__/tools.cpython-311.pyc
tex/indent.log
tex/main.aux
tex/main.fdb_latexmk
tex/main.fls
tex/main.lof
tex/main.log
tex/main.synctex.gz
tex/main.toc
tex/chapters/abstract.aux
tex/chapters/calibration.aux
tex/chapters/imaging.aux
tex/chapters/intro.aux
tex/chapters/results.aux
tex/indent.log
tex/main.aux
tex/main.fdb_latexmk
tex/main.fls
tex/main.lof
tex/main.log
tex/main.synctex.gz
tex/main.toc
tex/chapters/abstract.aux
tex/chapters/calibration.aux
tex/chapters/imaging.aux
tex/chapters/intro.aux
tex/chapters/results.aux
